<div style="text-align: center">
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="title" placeholder="Product Title" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="number" nz-input formControlName="price" placeholder="Price" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
        <nz-form-item>
                <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your username!">
                          <nz-input-group nzPrefixIcon="user">
                            <input type="number" nz-input formControlName="itemId" placeholder="Item Id" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
        </nz-form-item>

        <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="photo" placeholder="Photo URL" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

        <nz-form-item>
                <nz-form-control nzErrorTip="Please write something here!">
                  <textarea formControlName="description" nz-input rows="2" placeholder="Description"></textarea>
                </nz-form-control>
              </nz-form-item>
        <nz-form-item>
          <nz-form-control>
       
            <!-- <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
            <button nz-button class="login-form-button" [nzType]="'primary'">Add Item</button>
         
          </nz-form-control>
        </nz-form-item>
      </form>

    </div>