<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a  target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Costco Clearance </h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        
        <li nz-menu-item nz-tooltip nzPlacement="right" routerLink="/dashboard" *ngIf="userStatus"
        [nzTitle]="isCollapsed ? 'Dashboard' : ''" nzMatchRouter>
            <i nz-icon nzType="project"></i>
            <span>Dashboard</span>
          </li>
  
          <li nz-menu-item nz-tooltip nzPlacement="right"  *ngIf="!userStatus"
          [nzTitle]="isCollapsed ? 'Login' : ''" nzMatchRouter (click)="goLogin()">
              <i nz-icon nzType="lock" ></i>  
              <span>Login</span>
            </li>
            <li nz-menu-item nz-tooltip nzPlacement="right" routerLink="/profile" *ngIf="userStatus"
            [nzTitle]="isCollapsed ? 'Login' : ''" nzMatchRouter>
                <i nz-icon nzType="profile"></i>
                <span>Profile</span>
              </li>

        <li nz-submenu  nzTitle="Items List" nzIcon="dashboard"  *ngIf="userStatus">
            <ul >
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/items/all">Items</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/items/approvals">Approvals</a>
              </li>
              <!-- <li nz-menu-item nzMatchRouter>
                <a routerLink="/pending">Pending</a>
              </li> -->
            </ul>
          </li>
        
      <!-- <li nz-submenu  nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="Project Management" nzIcon="project">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/projects"> Project Management</a>
            </li>
          </ul>
        </li>
      <li nz-submenu  nzTitle="Portfolio Management" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/portfolio">Portfolio Management</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="User Management" nzIcon="user">
        <ul>
              <li nz-menu-item nzMatchRouter>
                  <a routerLink="/users">Users</a>
                </li>
              <li nz-menu-item nzMatchRouter>
                  <a >User Access</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a>Staff Roles</a>
                  </li>
        </ul>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
        <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
